body {
  background-color: #f7f5f0;
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #4a4a4a;
}

nav,
nav ul {
  padding: 0;
}

nav ul li {
  list-style-type: none;
  padding: .7em 0;
  margin: .5em 0;
  background-color: #28d4bb;
  color: #ffffff;
  transition: background-color .5s;
}

nav ul li:hover {
  background-color: #ce1d6b;
}

nav a {
  text-decoration: none;
}

a {
  text-transform: uppercase;
  font-weight: bold;
  color: #ce1d6b;
}

img {
  max-width: 100%;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
}

hr {
  height: 1px;
  background-color:#b9b9b9;
  color:#b9b9b9;
  border: 0 none;
  margin-top: 5px;
  margin-bottom:5px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #9b9b9b;
}

.wrapper {
  padding: .75em;
}

.profile-img {
  max-width: 70%;
}

#home:after {
  content: "";
  display: table;
  clear: both;
}

ul.skills {
  padding: 0;
  text-align: center;
  font-family: 'Shadows Into Light Two', cursive;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #00BADB;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #28d4bb;
}

#portfolio {
  background-color: #ffffff;
  margin: 0;
}

#portfolio img {
  margin-top: 20px;
}

footer {
  justify-content: center;
  font-size: smaller;
}

footer:after {
  content: "";
  display: table;
  clear: both;
}

.footer-nav {
  display: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* TABLET SIZE
---------------------------------*/
@media screen and (min-width: 768px) {

  body {
    line-height: 1.5em;
  }

  nav ul li,
  .footer-nav ul li {
    display: inline-block;
    list-style-type: none;
    background-color: transparent;
    color: #4a4a4a;
    margin: 1em;
  }

  nav ul li:hover {
    background-color: #ce1d6b;
  }

  nav a {
    text-decoration: none;
  }

  .profile-img {
    max-width: 25%;
    float: right;
    margin: 1em;
  }

  .about {
    max-width: 65%;
    float: left;
    font-size: 1.2em;
    margin: 1em;
    line-height: 1.6em;
  }

  #skills {
    font-size: 1.2em;
  }

  .portfolio-project {
    display: inline-block;
    max-width: 45%;
    margin: 1em;
    vertical-align: top;
  }

  #contact {
    margin: 0 auto;
    max-width: 70%;
    font-size: 1.1em;
  }

  footer {
    vertical-align: middle;
  }

  .student-name,
  .footer-nav {
    display: inline-block;
    float: right;
    height: 100%;
  }

  .footer-nav ul {
    margin: 0;
    padding: 0;
  }

  .footer-nav-mobile {
    display: none;
  }

}

/* DESKTOP SIZE
---------------------------------*/
@media screen and (min-width: 1024px) {

}
